<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>Remarkable Sync Calendar</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/felipepavanela/Library/Application Support/ephemeris/remarkable-sync-calendar.sh</string>
    </array>
    <key>StartInterval</key>
    <integer>3600</integer>
    <key>StandardOutPath</key>
    <string>/Users/felipepavanela/Documents/Dev/ephemeris-remarkable-calendar/logs/ephemeris.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/felipepavanela/Documents/Dev/ephemeris-remarkable-calendar/logs/ephemeris.err</string>
</dict>
</plist>
